
.body img{
    width: 350px;
    height: 350px; 
 }
 
 
 .body p{
     margin: 20px;
     color: blue;
     font-size: 20px;
 }
 
 .body{
    padding: 60px 40px 40px 40px ;
     display: flex;
     text-align: center;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }
 
body{
    
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    padding: 0px; 
    margin: 0px; 

}


.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
  }
.main{
    display: flex;
    flex-direction: column;
}
.first{
    display: flex;
    flex-wrap: wrap;
    background-image: url(https://image.shutterstock.com/z/stock-vector-white-background-vector-white-grey-shade-geometeic-seamless-pattern-modern-minimal-design-1106627888.jpg);
}
.first h1{
    margin: auto;
    color: red;
    font-size: 300%;
}
.second{
    background-image: url(https://t4.ftcdn.net/jpg/01/95/87/05/500_F_195870564_pQw1lfQ8WO3aCm259JI46466BYFq06of.jpg);
}
.second ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
   
}
.second li{
    padding: 10px;
    font-size: 20px;
}
li a{
    color: green;
    text-decoration: none;
}
