.main{
    display: flex;
    flex-direction: column;
}
.first{
    display: flex;
    flex-wrap: wrap;
    background-image: url(https://image.shutterstock.com/z/stock-vector-white-background-vector-white-grey-shade-geometeic-seamless-pattern-modern-minimal-design-1106627888.jpg);
}
.first h1{
    margin: auto;
    color: red;
    font-size: 300%;
}
.second{
    background-image: url(https://t4.ftcdn.net/jpg/01/95/87/05/500_F_195870564_pQw1lfQ8WO3aCm259JI46466BYFq06of.jpg);
}
.second ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
   
}
.second li{
    padding: 10px;
    font-size: 20px;
}
li a{
    color: green;
    text-decoration: none;
}
.third img{
    width: 45%;
    height: 300px;
    margin: auto;
}
.third{
    padding: 20px;
    text-align: justify;
    display: flex;
    justify-content: space-around;
    background-image: url(https://wallpapercave.com/wp/Gm2oSea.jpg);
    /* flex-wrap: wrap; */
}
.third p{
    text-indent: 45px;
    font-size: 20px;
    padding: 20px;
    line-height: 1.8;
}
.five{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(https://s3.amazonaws.com/cup-images/marlo-socolov/large/cup735660_70864.jpg);
}

@media (max-width:600px){
    .third{
        text-align: justify;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .third img{
        margin: auto;
        width: 70%;
        height: 300px;
    }
    .five{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
    }
}
