body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.logo
{
	border-radius: 50%;
	position: absolute;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: rgba(63, 231, 236, 0.952);
	width: 100%;
}

li 
{
	float: left;
	height: 75px;;
	
}

.active a{
	background-color: #111;
	border-radius: 5%;
	color: aliceblue;
}

li a 
{
    display: block;
	color: rgb(5, 5, 5);
	margin-top: 18%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
	background-color: #111;
	border-radius: 5%;
	color: aliceblue;
}